
* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #1a1a1a; 
    color: #fff;
    min-height: 100vh;
    box-sizing: relative;
}

/* Cabeçalho */
header {
  background-color: #111;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00b8f4;
}


header .logo img {
    height: 100px;
    width: auto;
}

/* Navegação aonde ta os links para a dash o inicio, torneios, login e cadaastro ( que é a nav e tudo que cotenha dentro disso)*/
nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px; /* isso aqui da espaço nas linhas, tive que pesquisar para saber */
}

nav a {
    text-decoration: none; /* Removendo o sublinhado dos links */
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: color 0.5s; /* Esse é um efeito legal para quando passar o mouse mudar de cor mo dahora */
}


nav a:hover {
    color: #FFCC00; /* Aqui é onde deixa bonito quando passa o mouse por cima  */
}

.form-container {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #2a2a2a; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Orbitron', sans-serif;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFCC00;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #00b8f4;
  
}

form input[type="text"],
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

/* Checkboxes com imagens (pesqisei na internet  */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0px;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.checkbox-item input[type="checkbox"] {
  display: none;
}

.checkbox-item label {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  transition: 0.2s;
}

.checkbox-item img {
  width: 80px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 8px;
}

.checkbox-item input[type="checkbox"]:checked + label img {
  border-color: #00b8f4;
  background-color: #eef;
}
.campo-checkbox {
  margin-top: 30px;
}

.campo-checkbox label{
  color: #00b8f4;
}


.selecao-Unica {
  margin-top: 10px;
}

/* Checkbox com texto dentro do label */
.selecao-Unica label {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  color: #00b8f4;
}

/* Texto explicativo fora do label */
.descricao {
  margin: 0 0 10px 25px; /* Espaço à esquerda alinhando com checkbox */
  font-size: 0.95rem;
  color: w;
}

/* Ajuste de espaçamento */
input[type="radio"] {
  margin-right: 10px;
}

/* Botão */
button {
  display: block;
  width: 100%;
  margin: 30px auto 0 auto;
  padding: 12px 25px;
  font-size: 22px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color:  #FFCC00;
}
