body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #222;
    color: #222;
    font-size: 18px;
}

.janela {
    display: flex;
    height: 100vh;
}

.header-left {
    width: 240px;
    background-color: #222;
    padding: 32px; 
    color: #FFCC00;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    flex-direction: column;
}

.header-left h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    margin-bottom: 32px;
    text-align: center ;
}

.header-left a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 19.2px; 
    display: block;
    font-size: 16px;
    gap: 160px;   
    text-align: center;
}


.botao_sair h3 {
    cursor: pointer;
    color: #00b8f4;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 40px;
    
}

.dash {
    flex-grow: 1;
    padding: 24px 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.container-indicadores {
    display: flex;
    justify-content: space-between;
    gap: 24px;  
    margin-bottom: 16px; 
}

.indicador {
    flex: 1;
    padding: 19.2px;  
    border-radius: 12px;
    text-align: center;
    background-color: #1a1a1a;
}

.indicador h1 {
    font-size: 26px;
    margin: 0;
}

.indicador h3 {
    font-size: 16px;
    margin: 0;
}

.verde {
    border-left: 6px solid #00a54a;
}
.amarelo {
    border-left: 6px solid #FFCC00;
}
.vermelho {
    border-left: 6px solid #e74c3c;
}


.container-mid {
    display: flex;
    align-items: stretch;
    height: 40vh;
    gap: 16px; 
}

.container-legenda{
    width: 50%;
    font-size: 25px;
    background-color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between  ;
    padding: 20px;
    gap: 20px;
}

.container-legenda h2 {
    margin-bottom: 10px;
    font-size: 30px;
    padding-bottom: 5px;
}

.ranks , .cores {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imagem-rank {
    margin-top: 30px;
    text-align: center;
}

.imagem-rank img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px; 
    height: 35%;
    margin-top: 8px;
}

.container-graficoPizza,
.container-graficoBarra,
.container-graficoLinha {
    width: 50%;
    background-color: #2a2a2a;
    border-radius: 12px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}