/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Fonte base e fundo escuro */
body {
  font-family: 'Orbitron', sans-serif;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
   overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 15px 50px;
  border-bottom: 2px solid #00b8f4;
  z-index: 100;
}

header .logo img {
  height: 80px;
  width: auto;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 70px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  transition: color 0.4s;
  font-family: 'Orbitron', sans-serif;
}


nav a:hover {
  color: #FFCC00;

}

#campeonatos {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 80px 40px;
  text-align: center;
  background: transparent;
  height: fit-content;
}

.background_section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.banner {
  position: relative;
  height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.background_section video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.banner_content {
  z-index: 1;
  position: relative;
  padding: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.botao {
    background-color: #00b8f4;
    color: #fff; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px;
    transition: background-color 0.6s; /* Efeito suave para mudança de cor */
}

.botao:hover {
    background-color: #007a8a; /* Mudando a cor do botão ao passar o mouse */
}


#campeonatos h2 {
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 50px;
  position: relative;
}

#campeonatos h2::after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background-color: #00b8f4;
  margin: 10px auto 0;
  border-radius: 2px;
}
.campeonato_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px;
  width: 100%;
  max-width: 100%; /* Impede ultrapassar a tela */
  box-sizing: border-box;
  overflow-x: hidden;
}

.campeonato_item {
  width: 320px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  max-width: 100%;
  text-align: left;
  height: fit-content;
}

.campeonato_item:hover {
  box-shadow: 0 15px 30px rgba(0, 184, 244, 0.4);
}


.campeonato_item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #FFCC00;
  font-family: 'Orbitron', sans-serif;
}


.campeonato_item img {
  width: 100%;
  height: 120x;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}


.campeonato_item p {
  font-size: 16px;
  color: #ccc;
  line-height: 1.4;
  margin-bottom: 5px;
}

.campeonato_item a {
  display: inline-block;
  margin-top: 10px;
  color: #00b8f4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;

}

.campeonato_item a:hover {
  color: #FFCC00;
}

/* Botão circular no topo da tela */
.botao_menu {
  width: 0px;
  height: 0px;
  background-color: #222;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.botao_menu:hover {
  background-color: #444;
}

.imagem_do_menu {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* deixa a imagem circular */
  object-fit: cover;
  margin: 10px auto 20px auto;
  display: block;
  border: 3px solid #fff;
}

/* Aba lateral que aparece com transição */
.abaMenu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #111;
  color: white;
  padding: 30px 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.4s ease;
  z-index: 999;
}

.abaMenu h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.abaMenu a {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  color: #ccc;
  text-decoration: none;
}

.abaMenu a:hover {
  color: #fff;
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #111;
  border-top: 2px solid #00b8f4;
  color: #888;
  font-size: 14px;
}